/*NAVI*/
#navi {
    background-color: #950E9F !important;
}


/*INDEX*/
 body {
    background-color: #C688CB; 
}


.hedarifontti {
    font-family: 'Oswald', sans-serif;
    font-size: 64px;
    border-bottom: 13px solid #011638;
    letter-spacing: 5px;
  }
  .alahedari {
    font-family: 'Oswald', sans-serif;
    font-size: 48px;
    border-bottom: 13px solid #011638;
    letter-spacing: 5px;
  }
  .kuvahedari {
    background: url(Kuvat/hedari2.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    color: #011638;
    text-align: left;
    border-bottom: 36px solid #011638;
  }

  .kuvahommelit {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
  }
  .marginauto {
    margin: 10px auto 20px;
    display: block;
  }
  
  header {
    width: 100%;
    padding: 25px;
  }
  main {
    background-color: #C688CB;
    color: #011638;
    width: 75%;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: 'BioRhyme', serif;
    text-align: left;
  }
  p, label, span, a {
    font-family: 'Space Mono', monospace;
  }
  .pikkuli {
    font-family: 'Space Mono', monospace;
    font-size: 14px;
    margin-bottom: 14px;
    text-align: left;
    color: #b8c5d6;
    list-style-type: none;
  }
  .smaggelista {
    font-family: 'Space Mono', monospace;
    text-align: justify;
  }
  li {
    margin-bottom: 12px;
    text-align: left;
    font-family: 'Space Mono', monospace;
  }
  
  a {
    color: #b8c5d6;
  }
  a:hover {
    color: #ffffff;
  }


.paaotsikko {
    margin-top: 30px;
    margin-bottom: 45px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .ingressi {
    text-align: center;
    margin-bottom: 45px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .arviokuva {
    padding: 30px;
    width: 100%;
    min-width: 300px;
    max-width: 450px;
    border-radius: 3pc;
    margin-top: 10px;
  }
  .arvio-otsikko {
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .arvioteksti {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
  
  }
  .ehdokasotsikko {
    font-size: 1.25rem;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
  }

  /*******************SMAGGE-SIVUPALKKI***********/
  .sivupalkki {
    float: right;
    width: 25%;
    background-color: #2e294e;
    color: #b8c5d6;
    padding: 20px;
  }
  .asideotsikko {
    font-size: 17px;
    margin-top: 0.5em;
    margin-bottom: 1.5em;
    text-align: center;
  }
  .asideteksti {
    margin-bottom: 3rem;
    text-align: center;
    font-size: 14px;
  }
  .kirjoi {
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 5px;
  }
  
  #page-container {
      display: flex;
      flex-wrap: wrap;
  }
  
    @media only screen and (max-width: 600px) {
        main, .sivupalkki {width: 100%;}
    }
  


  /*************************SMAGGE-FOOTER**************************/
  footer {
    background-color: #011638;
    padding: 20px;
  }
  .footerteksti {
    text-align: center;
    color: #b8c5d6;
    font-size: 12px !important;
  }
  
  
 
/********************** NEW MESSAGE**************************/
#newM {
    font-family: 'BioRhyme', serif;
    text-align: center;
    margin-top: 30px;  
}
.form {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    min-width: 350px;

}
.input-group-text {
    background-color: #950E9F;
}
#messageField {
    min-height: 150px;
}
#submitMessage, #button1{
    margin-top: 10px;
}

/*************************  GUESTBOOK***********************/
#table {
    padding: 20px; 
}
